
    <div class="main">

        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1685638912667-blog_AYU1996.png"></div>
              <div class="card_content">
                <h2 class="card_title">Vaca louca</h2>
                <p class="card_text">Carne desfiada com um tempero especial.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1682528448864-blog_AYU9486.png"></div>
              <div class="card_content">
                <h2 class="card_title">Panelinha</h2>
                <p class="card_text">Nada melhor em meio a correria do dia-a-dia.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1682348896461-blog_AYU0294.png"></div>
              <div class="card_content">
                <h2 class="card_title">Lombo</h2>
                <p class="card_text">Uma carne boa opção pro almoço em família.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1681762186404-blog_AYU9916.png"></div>
              <div class="card_content">
                <h2 class="card_title">Abóbora assada</h2>
                <p class="card_text">Rápida e prática pra você que não quer perder tempo.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1680109744475-blog_AYU7850.png"></div>
              <div class="card_content">
                <h2 class="card_title">Carne de panela</h2>
                <p class="card_text">Uma receita de comida caseira com cheirinho de infância.</p>
                <button class="btn card_btn">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1680114890696-blog_AYU6897.png"></div>
              <div class="card_content">
                <h2 class="card_title">Purê de brócolis</h2>
                <p class="card_text">Gostosa, simples, prática e fácil. Não tem quem recuse.</p>
                <button class="btn card_btn">Veja a receita</button>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
