  <header class="header" role="banner">
    <h1 class="header-title">Bolo de Cenoura</h1>
  </header>
  
  <main class="main" aria-label="Content">

  
    <section class="section" id="ingredients">
      <h2 class="section-title">Ingredientes</h2>
      
      <ul>
        <li>1 cenoura grande</li>
        <li>2 ovos</li>
        <li>¾ de xícara (chá) de açúcar</li>
        <li>½ xícara (chá) de óleo</li>
        <li>1 xícara (chá) de farinha de trigo</li>
        <li>½ colher (sopa) de fermento em pó</li>
        <li>¼ de xícara (chá) de cacau em pó</li>
        <li>1 pitada de bicarbonato de sódio</li>
        <li>manteiga e farinha de trigo para untar e polvilhar a fôrma</li>
      </ul>
    </section>
  
    <section class="section" id="preparation">
      <h2 class="section-title">Preparo da Massa</h2>
      
      <ol class="step-list">
        <li class="step-list__item">Preaqueça o forno a 180 ºC (temperatura média). Unte com manteiga uma fôrma para bolo inglês de 22 cm X 10 cm. Polvilhe com farinha e chacoalhe bem para espalhar. Bata sobre a pia para retirar o excesso.</li>
        <li class="step-list__item">Lave, descasque e passe a cenoura pela parte grossa do ralador – assim a massa do bolo fica bem lisinha na hora de bater.</li>
        <li class="step-list__item">Numa tigela pequena quebre um ovo de cada vez e transfira para o liquidificador – se um estiver estragado você não perde a receita. Junte a cenoura ralada, o açúcar, o óleo e bata bem até ficar liso.</li>
        <li class="step-list__item">Transfira a mistura líquida para uma tigela e acrescente a farinha, aos poucos, passando pela peneira. Mexa delicadamente com o batedor de arame a cada adição para incorporar. Por último, misture o fermento.</li>
        <li class="step-list__item">Em outra tigela menor, separe ⅓ da massa de bolo (cerca de 1 xícara). Acrescente o cacau, passando pela peneira, o bicarbonato e misture bem com o batedor de arame – é essa massa de chocolate que vai deixar o bolo marmorizado.</li>
        <li class="step-list__item">Para o bolo ficar marmorizado: transfira metade da massa de cenoura para a fôrma; com uma colher, distribua porções da massa de chocolate e cubra com o restante da massa de cenoura. Passe uma faca por toda a massa, fazendo o movimento de zigue-zague para mesclar.</li>
        <li>Leve ao forno para assar por cerca de 40 minutos. Espete um palito na massa para verificar: se sair limpo, está pronto; caso contrário, deixe assar por mais alguns minutos. Retire do forno e deixe esfriar por 15 minutos antes de desenformar, enquanto isso prepare a cobertura.</li>  
    </ol>
  
      <p class="comment comment--warning">
        <svg class="comment__icon icon icon-notification">
          <use xlink:href="#icon-notification"></use>
        </svg>
        Se quiser, pode usar as cenouras apenas picadas, sem ralar, no máximo o seu bolo ficará com pedaços de cenoura ou você precisará de mais esforço do seu liquidificador.
      </p>
    </section>

    <section class="section" id="ingredients">
        <h2 class="section-title">Ingredientes da Cobertura</h2>
        
        <ul>
          <li>100 g de chocolate meio amargo</li>
          <li>⅔ de xícara (chá) de açúcar de confeiteiro</li>
          <li>2 colheres (sopa) de água filtrada</li>
        </ul>
      </section>
    
    <section class="section" id="service">
      <h2 class="section-title">Preparo da Cobertura</h2>
  
      <ol class="step-list">
        <li class="step-list__item">Leve uma panela pequena com um pouco de água ao fogo médio – ela vai servir de base para o banho-maria. Pique o chocolate em pedaços pequenos e transfira para uma tigela de vidro (ou inox).</li>
        <li class="step-list__item">Encaixe a tigela sobre a panela com água fervente e mexa com uma espátula até o chocolate derreter completamente – ela não deve encostar no fundo da tigela, o chocolate deve derreter com o vapor.</li>
        <li class="step-list__item">Junte o açúcar e mexa bem até ficar liso. Acrescente a água aos poucos, mexendo a cada adição. Com uma concha, espalhe a cobertura sobre o bolo e deixe esfriar antes de servir – a cobertura fica com uma casquinha na superfície e macia por dentro.</li>
      </ol>
      
      <p class="comment comment--note">
        <svg class="comment__icon icon icon-info">
          <use xlink:href="#icon-info"></use>
        </svg>
        Se a calda endurecer muito rápido, volte o chocolate ao banho-maria e acrescente mais água aos poucos.
      </p>
    </section>
  </main>
