@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&display=swap');

h3{
    font-size: 11px;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

div{
    max-width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
}

@media screen and (max-width: 768px) {
    div {

        max-width: 100%;
        text-align: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
    }

}