<div class="main">

    <ul class="cards">
      <li class="cards_item">
        <div class='card' id="card1">
          <div class='info'>
            <h1 class='title'>Em breve</h1>
            <p class='description'>"Não há boa culinária se, à princípio, ela não é feita pela amizade a quem ela se destina".<br>
              Paul Bocuse</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class='card' id="card2">
          <div class='info'>
            <h1 class='title'>Mais Receitas</h1>
            <p class='description'>“- sua mãe te ensinou a cozinhar garotos e agora voce esta sendo cozinhada.<br>
              - estou.<br>
              - e porque nao cai fora?<br>
              - quero ver como é o prato pronto.<br>
              - nem sabe quanto isso vai demorar.<br>
              - eu tenho o resto da minha vida pra esperar.” (sobre F.)<br>
              Raquel Schwenck</p>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class='card' id="card3">
          <div class='info'>
            <h1 class='title'>Por aqui</h1>
            <p class='description'>Cozinhar é como um espetáculo:<br>
              É preciso muita organização, treino, dedicação, conhecimento e amor para que,<br>
               no final, os cinco sentidos o aplaudam de pé.<br>
               Fernando Capella Reis</p>
          </div>
        </div>
      </li>
    
    </ul>
  </div>