* {
    margin: 0;
    border: none;
  }

.bg {
    background-image: url('../assets/imagens/BgAquarela.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 20px;

}