    <div class="main">

        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1681394001493-blog_AYU7796.png"></div>
              <div class="card_content">
                <h2 class="card_title">Brownie</h2>
                <p class="card_text">Sorvete, brownie, e um por do sol.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://panelinha-sitenovo.s3.sa-east-1.amazonaws.com/receita/1675363839647-blog-Co%CC%81pia-de-CP_23.09_Comida-21.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Brigadeiro</h2>
                <p class="card_text">Um filme, chuvinha e brigadeiro.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.panelinha.com.br/receita/1667481994336-pudim.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Pudim de leite condensado</h2>
                <p class="card_text">Casa de vó e uma sobremesa de domingo.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.panelinha.com.br/receita/1640099614584-receita_pavlova_airfyer.png"></div>
              <div class="card_content">
                <h2 class="card_title">Bolo de romã</h2>
                <p class="card_text">Uma viagem marcante e um sabor especial.</p>
                <button class="btn card_btn" routerLink="/home">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.panelinha.com.br/receita/1639489790681-baked-alaska.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Merengue invertido</h2>
                <p class="card_text">Parece difícil, mas é fácil e doce.</p>
                <button class="btn card_btn">Veja a receita</button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card">
              <div class="card_image"><img src="https://cdn.panelinha.com.br/receita/1635255492124-banoffee-receita.jpg"></div>
              <div class="card_content">
                <h2 class="card_title">Torta de suspiro</h2>
                <p class="card_text">Requinte e simplicidade.</p>
                <button class="btn card_btn">Veja a receita</button>
              </div>
            </div>
          </li>
          
        </ul>
      </div>

