@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    display: relative;
  
}


  .example-header-image {
    background-image: url(../../../assets/imagens/iconCupHeart.png);
    background-size: cover;    
  }


  .example-header mat-card-title{
    font-family: 'Montserrat', sans-serif;
  }
  .example-header mat-card-subtitle{
    font-family: 'Montserrat', sans-serif;
  }