<div class="main-div">

<mat-card class="example-card">
  
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Receitas de Afeto!</mat-card-title>
      <mat-card-subtitle>Capítulo 1: Minha mãe.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/imagens/maecardAtivo 1.png" alt="Foto da mãe do responsável pelo projeto.">
    <mat-card-content>
      <p>Desde pequeno gostei de cozinhar e conforme o tempo foi passando, se tornou um hábito de família, de partilha, de momentos e de abstração.
        Cresci com referenciais fortes, minha avó viveu da cozinha, e depois compartilhei desses momentos com a minha mãe, que hoje, infelizmente, não está mais por aqui fisicamente.
        Este projeto é para armazenar e fazer desse espaço um lugar para acolher as lembranças e esses momentos especiais pra mim e pra quem mais quiser partilhar deles comigo.
        Espero que possam se deliciar com cada pedaço compartilhado aqui.
      </p>
    </mat-card-content>
  
  </mat-card>
  
</div>
